[Unit]
Description=Genshin Academy Server Docker DEV Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=academy
RemainAfterExit=yes
WorkingDirectory=/var/www/genshinacademy/dev/server
ExecStart=/usr/bin/docker compose --file /var/www/genshinacademy/dev/server/docker-compose.dev.yaml --env-file /var/www/genshinacademy/dev/server/dev.env pull
ExecStart=/usr/bin/docker compose --file /var/www/genshinacademy/dev/server/docker-compose.dev.yaml --project-name ga_server-dev --env-file /var/www/genshinacademy/dev/server/dev.env up -d
ExecStop=/usr/bin/docker compose --file /var/www/genshinacademy/dev/server/docker-compose.dev.yaml --env-file /var/www/genshinacademy/dev/server/dev.env down

[Install]
WantedBy=multi-user.target